#bunny {
  position: absolute;
  top: 2000px;
  left: 300px;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  z-index: 2;
}

body {
  height: 3000px;
}

#element-1 {
  width: 200px;
}

#element-2 {
  width: 300px;
  float: right;
}
